<h2>Channels</h2>
<div id="subscribed">
    <h3>Subscribed</h3>
    <channel ng-repeat="channel in channels | filter:{'subscribed': true}" id="subscribed"></channel>
</div>
<div id="unsubscribed">
    <h3>Unsubscribed</h3>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <channel ng-repeat="channel in channels | filter:{'subscribed': false}" id="subscribed"></channel>
    </md-content>
</div>


<button ng-click="cancelEvent()">Cancel event</button>
<button ng-click="makeEventHappen()">Event happens!</button>